@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=NotoSerif&display=swap");
html > body > *, * {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', 'NotoSerif', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

button {
  border: none;
}

section {
  padding: 40px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.secondary-button {
  display: block;
  border-radius: 10000px;
  border: solid 2px white;
  padding: .5em 1em;
}

.action-button {
  background-color:  #ffa34b ;
  color:  white ;
  font-weight: 700;
  padding: .5em 1em;
  border-radius: 10000px;
  text-transform: capitalize;
}

@media (prefers-color-scheme: dark) {
  .action-button {
    background-color:  #ffa34b ;
  }
}

@media (prefers-color-scheme: dark) {
  .action-button {
    color:  white ;
  }
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: fill;
  background-color:  rgba(87, 54, 151, 0.85) ;
  color: white;
  backdrop-filter: blur(2px);
  padding: 0px 1em;
  margin-bottom: 0px;
  max-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color:  rgba(87, 54, 151, 0.85) ;
  }
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fill;
  padding: .5em;
  padding-bottom: 0;
  max-width: 1080px;
  border-bottom: .2em solid;
  border-color:  #ffa34b ;
  margin: 0 auto;
  margin-top: 7px;
}

@media (max-width: 50em) {
  .navbar .container {
    flex-wrap: wrap;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar .container {
    border-color:  #ffa34b ;
  }
}

.navbar .container .brand {
  margin-bottom: .5em;
  display: flex;
  color: inherit;
  text-decoration: none;
}

.navbar .container .brand .logo #logo #background {
  fill:  #573697 ;
}

@media (prefers-color-scheme: dark) {
  .navbar .container .brand .logo #logo #background {
    fill:  #573697 ;
  }
}

.navbar .container .brand .logo #logo #Fire {
  fill:  white ;
}

@media (prefers-color-scheme: dark) {
  .navbar .container .brand .logo #logo #Fire {
    fill:  white ;
  }
}

.navbar .container .brand .logo #logo #border {
  fill:  white ;
}

@media (prefers-color-scheme: dark) {
  .navbar .container .brand .logo #logo #border {
    fill:  white ;
  }
}

.navbar .container .brand .logo-name {
  display: none;
  flex-direction: column;
  margin-left: 20px;
}

@media (min-width: 37.5em) {
  .navbar .container .brand .logo-name {
    display: inline-flex;
    margin: auto;
    margin-left: .5rem;
  }
}

.navbar .container .brand .logo-name .main-text {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.navbar .container .brand .logo-name .sub-text {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1em;
}

.navbar .container .brand:hover .logo > #logo #background, .navbar .container .brand:focus .logo > #logo #background {
  transition: ease-in-out all .5s;
}

.navbar .container .brand:hover .logo > #logo #border, .navbar .container .brand:focus .logo > #logo #border {
  transition: ease-in-out all .5s;
}

.navbar .container .brand:hover .logo > #logo #Fire, .navbar .container .brand:focus .logo > #logo #Fire {
  transition: ease-in-out all .5s;
  animation: fire 1s infinite;
  animation-direction: alternate;
  fill:  white ;
}

@keyframes fire {
  0% {
    fill:  white ;
    @media (prefers-color-scheme: dark) {
      fill:  white ;
    }
  }
  100% {
    fill:  #ffa34b ;
    @media (prefers-color-scheme: dark) {
      fill:  #ffa34b ;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .navbar .container .brand:hover .logo > #logo #Fire, .navbar .container .brand:focus .logo > #logo #Fire {
    fill:  white ;
  }
}

.navbar .container .collapse-btn {
  background: transparent;
}

.navbar .container .collapse-btn svg > * {
  stroke: white;
  stroke-width: 3px;
}

.navbar .container .collapse-btn:hover svg > * {
  animation: pulse infinite 2s;
  animation-direction: alternate-reverse;
}

@keyframes pulse {
  100% {
    stroke:  #ffa34b ;
    @media (prefers-color-scheme: dark) {
      stroke:  #ffa34b ;
    }
    stroke-width: 5px;
  }
}

@media (min-width: 50em) {
  .navbar .container .collapse-btn {
    display: none;
  }
}

.navbar .container .menu {
  display: flex;
}

@media (max-width: 50em) {
  .navbar .container .menu {
    transition: ease-in-out all .5s;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    font-size: 1em;
    display: block;
    flex-direction: column;
    height: fill;
    overflow: hidden;
    max-height: 0;
  }
  .navbar .container .menu.hide {
    transition: ease-in-out max-height 1s;
    max-height: 100vh;
  }
}

.navbar .container .menu .menu-links {
  font-weight: 500;
  display: flex;
}

@media (max-width: 50em) {
  .navbar .container .menu .menu-links {
    flex-direction: column;
  }
  .navbar .container .menu .menu-links div {
    margin: 0;
    width: fill;
  }
}

.navbar .container .menu .menu-links div {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .5s;
  position: relative;
}

@media (min-width: 50em) {
  .navbar .container .menu .menu-links div {
    height: fill;
  }
  .navbar .container .menu .menu-links div::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0%;
    height: .5em;
    width: fill;
    background-color:  #ffa34b ;
    transition: all ease-in-out .5s;
    transform: scaleX(0%);
  }
}

@media (min-width: 50em) and (prefers-color-scheme: dark) {
  .navbar .container .menu .menu-links div::after {
    background-color:  #ffa34b ;
  }
}

@media (min-width: 50em) {
  .navbar .container .menu .menu-links div.active::after {
    transition: all ease-in-out .5s;
    transform: scaleX(150%);
  }
}

@media (max-width: 50em) {
  .navbar .container .menu .menu-links div {
    border-radius: 1000px;
  }
  .navbar .container .menu .menu-links div a {
    padding: 1em;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .navbar .container .menu .menu-links div.active {
    border: 1px solid;
    border-color:  #ffa34b ;
  }
}

@media (max-width: 50em) and (prefers-color-scheme: dark) {
  .navbar .container .menu .menu-links div.active {
    border-color:  #ffa34b ;
  }
}

.navbar .container .menu .menu-links div a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 50em) {
  .navbar .container .menu .menu-links div {
    margin-right: 2em;
  }
}

.navbar .container .menu .menu-links:last-child {
  margin: 0;
}

.navbar .container .menu button {
  width: fill;
  margin: auto 0;
  height: fit-content;
}

@media (max-width: 50em) {
  .navbar .container .menu button {
    margin: 10px;
    padding: 1em;
  }
}

.loading .wrapper svg {
  width: fill;
  height: fill;
  max-width: 50px;
  max-height: 50px;
  animation: circle 4s infinite;
}

.hero {
  position: relative;
  width: fill;
  overflow: hidden;
  height: 500px;
}

@media (min-width: 50em) {
  .hero {
    height: 60vw;
    min-height: 500px;
  }
}

.hero .foreground {
  margin: 0 auto;
  max-width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  position: absolute;
  width: fill;
  height: fill;
  inset: 0;
}

.hero .foreground h1, .hero .foreground h2 {
  font-family: 'NotoSerif';
  font-style: normal;
  font-weight: normal;
}

.hero.home {
  color:  #000505 ;
  font-family: 'Times New Roman';
  background: linear-gradient(180deg, rgba(78, 41, 151, 0.7) 19.45%, rgba(96, 60, 147, 0.6) 50%, rgba(255, 163, 75, 0.5) 77.05%, rgba(255, 163, 75, 0.4) 99.48%), url("../media/doctor-patient-interpreter Image.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  .hero.home {
    color:  #000505 ;
  }
}

.hero.home .foreground {
  padding: 15px;
}

.hero.home .foreground div h1, .hero.home .foreground div h2, .hero.home .foreground div div {
  margin-bottom: 10px;
}

.hero.home .foreground div .button-container {
  display: flex;
  flex-direction: row;
}

.hero.home .foreground div .button-container :first-child {
  margin-right: 1em;
}

.mini-about {
  background-color:  #573697 ;
  color:  white ;
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
  column-gap: 20px;
}

@media (prefers-color-scheme: dark) {
  .mini-about {
    background-color:  #573697 ;
  }
}

@media (prefers-color-scheme: dark) {
  .mini-about {
    color:  white ;
  }
}

@media (max-width: 50em) {
  .mini-about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.mini-about .content {
  margin: auto;
  font-size: .85em;
}

.mini-about .content p {
  margin-bottom: .5em;
}

.mini-about .content:last-child {
  margin: 0;
}

.mini-about .profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.mini-about .profile .img-container {
  margin: 0 auto;
  border-radius: 10000px;
  width: 10em;
  height: 10em;
  position: relative;
  overflow: hidden;
  place-items: center;
}

.mini-about .profile .img-container img {
  display: inline;
  width: 100%;
}

.mini-about .profile .info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.mini-about .profile .info * {
  margin-bottom: .3em;
}

.mini-about .profile .info a {
  margin: 0;
  margin-top: 1em;
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

.why-choose-certified h2 {
  font-size: 3em;
  margin-bottom: .3em;
}

.why-choose-certified .column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 50em) {
  .why-choose-certified .column-layout {
    display: flex;
    flex: column;
    flex-direction: column-reverse;
  }
}

.why-choose-certified .column-layout .box {
  display: grid;
  text-align: left;
}

.why-choose-certified .column-layout .box:first-child {
  place-items: center;
}

.why-choose-certified .column-layout .box p {
  margin-bottom: .5em;
}

.why-choose-certified .column-layout .box h3 {
  color:  #573697 ;
  font-size: 1.5em;
  margin: .5em 0;
}

@media (prefers-color-scheme: dark) {
  .why-choose-certified .column-layout .box h3 {
    color:  #573697 ;
  }
}

.lets-talk h1 {
  margin-bottom: .6em;
}
