* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
}

.action-button {
  background-color: #ffa34b ;
  color: #ffffff ;
  padding: 3px 15px;
  border-radius: 50px;
}

@media (prefers-color-scheme: dark) {
  .action-button {
    background-color: #ffa34b ;
  }
}

@media (prefers-color-scheme: dark) {
  .action-button {
    color: #ffffff ;
  }
}

.minor-button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  background-color: #ffffff ;
  border-color: #573697 ;
  color: #573697 ;
}

@media (prefers-color-scheme: dark) {
  .minor-button {
    background-color: #ffffff ;
  }
}

@media (prefers-color-scheme: dark) {
  .minor-button {
    border-color: #573697 ;
  }
}

@media (prefers-color-scheme: dark) {
  .minor-button {
    color: #573697 ;
  }
}

.navbar {
  padding: 0;
  background-color: #4f4f4f ;
  opacity: .85;
  backdrop-filter: blur(5px);
  padding: 0px 15px;
  margin-bottom: 0px;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #573697 ;
  }
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1080px;
  border-bottom: 3px solid;
  border-color: #ffa34b ;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .navbar .container {
    border-color: #ffa34b ;
  }
}

.navbar .container .logo {
  transition: ease-in-out 1s;
}

.navbar .container .logo:hover, .navbar .container .logo:focus {
  transition: ease-in-out 1s;
}

.navbar .container .navbar-toggler.collapsed, .navbar .container .navbar-toggler {
  border: none;
}

.navbar .container .navbar-toggler.collapsed .navbar-toggler-icon, .navbar .container .navbar-toggler .navbar-toggler-icon {
  transition: ease-in-out .5s;
  color: white;
}

.navbar .container .navbar-toggler.collapsed .navbar-toggler-icon:hover, .navbar .container .navbar-toggler.collapsed .navbar-toggler-icon:focus, .navbar .container .navbar-toggler .navbar-toggler-icon:hover, .navbar .container .navbar-toggler .navbar-toggler-icon:focus {
  transition: ease-in-out .5s;
}

.navbar .container .navbar-toggler.collapsed:hover, .navbar .container .navbar-toggler.collapsed:focus, .navbar .container .navbar-toggler:hover, .navbar .container .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar .container .navbar-toggler {
  transition: ease-in-out .5s;
  border: none;
}

.navbar .container .navbar-toggler .navbar-toggler-icon {
  transition: ease-in-out .5s;
  color: white;
}

.navbar .container .navbar-toggler .navbar-toggler-icon:hover, .navbar .container .navbar-toggler .navbar-toggler-icon:focus {
  transition: ease-in-out .5s;
}

.navbar .container .navbar-toggler:hover, .navbar .container .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar .container #responsive-navbar-nav.collapse.show .navbar-nav > a {
  margin: 1rem;
}

.navbar .container #responsive-navbar-nav.show .navbar-nav a {
  margin: auto;
}

.navbar .container #responsive-navbar-nav.show button {
  width: fill;
}

.navbar .container #responsive-navbar-nav {
  list-style-type: none;
  flex-grow: initial;
  height: fill;
}

.navbar .container #responsive-navbar-nav .navbar-nav {
  flex-grow: initial;
  list-style-type: none;
  justify-content: space-between;
  height: fill;
}

.navbar .container #responsive-navbar-nav .navbar-nav .selected, .navbar .container #responsive-navbar-nav .navbar-nav .active {
  transition: ease-in-out all 1s;
  font-weight: bolder;
}

.navbar .container #responsive-navbar-nav .navbar-nav .selected::after, .navbar .container #responsive-navbar-nav .navbar-nav .active::after {
  transition: ease-in-out all .25s;
  transform: scaleX(130%);
}

.navbar .container #responsive-navbar-nav .navbar-nav a {
  transition: ease-in-out all 1s;
  color: #cacaca ;
  margin: auto;
  margin: 0 20px;
  text-align: center;
  text-decoration: none;
  height: fill;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  .navbar .container #responsive-navbar-nav .navbar-nav a {
    color: #cacaca ;
  }
}

.navbar .container #responsive-navbar-nav .navbar-nav a .nav-link {
  text-decoration: none;
  color: inherit;
}

.navbar .container #responsive-navbar-nav .navbar-nav a::after {
  transition: ease-in-out all .25s;
  content: "";
  background-color: #ffa34b ;
  display: block;
  position: relative;
  width: fill;
  bottom: -11px;
  height: 10px;
  transform: scaleX(0%);
}

@media (prefers-color-scheme: dark) {
  .navbar .container #responsive-navbar-nav .navbar-nav a::after {
    background-color: #ffa34b ;
  }
}

.navbar .container #responsive-navbar-nav .navbar-nav::after {
  margin: 0 1rem;
  content: "";
  border-width: 1px;
  border-style: solid;
  border-color: #ffa34b ;
}

@media (prefers-color-scheme: dark) {
  .navbar .container #responsive-navbar-nav .navbar-nav::after {
    border-color: #ffa34b ;
  }
}

.navbar .container button.action-button {
  margin: 1rem;
  width: fill;
}

.loading .wrapper svg {
  width: fill;
  height: fill;
  max-width: 50px;
  max-height: 50px;
  animation: circle 4s infinite;
}

.hero {
  position: relative;
  width: fill;
  overflow: hidden;
  height: 500px;
}

.hero .background {
  display: grid;
  place-items: center;
  position: absolute;
  width: fill;
  height: fill;
  inset: 0;
}

.hero .foreground {
  display: grid;
  place-items: center;
  position: absolute;
  width: fill;
  height: fill;
  inset: 0;
}

.hero.home {
  color: #000505 ;
}

@media (prefers-color-scheme: dark) {
  .hero.home {
    color: #000505 ;
  }
}

.hero.home .background {
  background-color: #573697 ;
}

@media (prefers-color-scheme: dark) {
  .hero.home .background {
    background-color: #573697 ;
  }
}
