$phone:37.5em;
$tablet:50em;
$laptop:64em;
$desktop:70em;

@mixin breakpoint-min($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == phone {
    @media (min-width: 37.5em)  { @content ; }
  }
  @else{
    @media (min-width: $point)  { @content ; }
  }
}
@mixin breakpoint-max($point) {
  @if $point == desktop {
    @media (max-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (max-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 50em) { @content ; }
  }
  @else if $point == phone{
    @media (max-width: 37.5em)  { @content ; }
  }
  @else{
    @media (max-width: $point)  { @content ; }
  }
}