@import 'params/theme_colors';
@import 'params/breakpoints';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
:root{
  font-size: clamp(9px,1.5vw,1em);
  // font-size: 2vw;
  --fs-800:3rem;
  --fs-700:2.5rem;
  --fs-600:2rem;
  --fs-500:1.5rem;
  --fs-400:1rem;
  --spacer:.3em;
  @include breakpoint-max($tablet){
    --fs-800:3rem;
    --fs-700:2.5rem;
    --fs-600:2rem;
    --fs-500:1.75rem;
    --fs-400:1.5rem;
    --spacer:.3em;
  }
}
html{
  width: 100%;
}
body>* {
  all:unset;
  font-family: 'Montserrat', 'NotoSerif', sans-serif;
  padding:0px;
  margin:0px; 
}
*{
  font-family: 'Montserrat';
  margin:0;
  font-size: var(--fs-400);
}
p{
  margin-bottom:var(--spacer);
}
h1,h2,h3,h4,h5{
  font-family: 'NotoSerif';
}
h1{
  font-size: var(--fs-800);
  margin-bottom:var(--spacer);
}
h2{
  font-size: var(--fs-700);
  margin-bottom:var(--spacer);
}
h3{
  font-size: var(--fs-600);
  margin-bottom:var(--spacer);
}
h4{
  font-size: var(--fs-500);
  margin-bottom:var(--spacer);
} 
html{
  scroll-behavior: smooth;
}
button{
  border: none;
}
section{
  padding: 40px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.secondary-button{
  display: block;
  border-radius: 10000px;
  border:solid 2px white;
  padding: .5em 1em;
}
.action-button{
  @include theme('background-color',$color2);
  @include theme('color',$text3);
  font-size:1em;
  font-weight: 700;
  padding: .5em 1em;
  border-radius: 10000px; 
  text-transform: capitalize;
}
.navbar{  
  position: fixed;
  z-index: 1000;
  width: fill;
  @include theme('background-color', $background3 ,$a:.85);
  color:white;
  backdrop-filter: blur(2px);
  padding:0px 1em;
  margin-bottom: 0px;
  // height: fit-content;
  max-height: 100vh;
  .container{ 
    display: flex;
    flex-direction: row; 
    @include breakpoint-max($tablet){
      flex-wrap: wrap;
    }
    justify-content: space-between;
    width: fill;
    padding: .5em;
    padding-bottom: 0;
    max-width: 1080px;
    border-bottom: .2em solid;
    @include theme('border-color',$color2);
    margin: 0 auto;
    margin-top: 7px;
    // height: fit-content;
    .brand{
      margin-bottom: .5em;
      display: flex; 
      color:inherit;
      text-decoration: none;
      .logo{
        #logo{
          #background{
            @include theme('fill',$color1);
          } 
          #Fire{
            @include theme('fill',$text3);
          } 
          #border{
            @include theme('fill',$text3);
          } 
        }
        &-name{
          @include breakpoint-min(phone){
            display: inline-flex;
            margin: auto;
            margin-left: .5rem;
          }
          display:none;
          flex-direction: column;
          margin-left: 20px;
          .main-text{
            font-size: 24px;
            text-align: center;
            font-weight: 600;
          }
          .sub-text{
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1em;
          }
        }
      }
      &:hover,&:focus{
        .logo>#logo{
          #background{
          transition: ease-in-out all .5s;
          // @include theme('fill',$text3);
          }
          #border{
            transition: ease-in-out all .5s;
            // @include theme('fill',$color1);
          }
          #Fire{
            transition: ease-in-out all .5s;
            animation: fire 1s infinite;
            animation-direction: alternate;
            @keyframes fire {
              0%{
                @include theme('fill',$text3);
              }
              100%{
                @include theme('fill',$color2);
              }
            }
            @include theme('fill',$text3);
          }
        }
      }
    }
    .collapse-btn{
      background: transparent;
      svg>*{
        stroke:white;
        stroke-width: 3px;
      }
      &:hover{
        svg>*{
          animation: pulse infinite 2s;
          animation-direction: alternate-reverse;
          @keyframes pulse {
            100%{
              @include theme('stroke',$color2);
              stroke-width: 5px;
            }
          }
        }
      }
      @include breakpoint-min($tablet){
        display: none;
      }
    }
    .menu{
      display: flex;
      @include breakpoint-max($tablet){
        transition: ease-in-out all .5s;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        font-size: 1em;
        display: block;
        flex-direction: column;
        height: fill;
        overflow: hidden;
        max-height: 0;
        &.hide{
          transition: ease-in-out max-height 1s;
          max-height: 100vh;
        }
      }
      .menu-links{
        font-weight: 500;
        display: flex;
        @include breakpoint-max($tablet){
          flex-direction: column;
          div{
            margin:0;
            width:fill;
          }
        }
        div{
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all ease-in-out .5s;
          position: relative;
          @include breakpoint-min($tablet){
            height: fill;
            &::after{
              position: absolute;
              content:'';
              display: block;
              bottom: 0%;
              height: .5em;
              width:fill;
              @include theme('background-color',$color2);
              transition: all ease-in-out .5s;
              transform: scaleX(0%);
            }
            &.active::after{
              transition: all ease-in-out .5s;
              transform: scaleX(150%);
            }
          }
          @include breakpoint-max($tablet){
            &{
              border-radius: 1000px;
              a{
                padding:1em;
                display: block;
                text-align: center;
                width:100%;
                height: 100%;
              }
            }
            &.active{
              border: 1px solid;
              @include theme('border-color',$color2);
            }
          }
          a{
            position: relative;
            text-decoration: none;
            color:inherit;
          }

          @include breakpoint-min($tablet){
            margin-right: 2em;
          }
        }
        &:last-child{
          margin:0;
        }
      }
      button{
        width:fill;
        @include breakpoint-max($tablet){
          margin: 10px;
          padding: 1em;
        }
        margin: auto 0;
        height: fit-content;
      }
    }
  }
}

.loading{
  .wrapper{
    svg{
      width: fill;
      height: fill;
      max-width: 50px;
      max-height: 50px;
      animation: circle 4s infinite;
    }
  }
}
.hero{
  padding-top:75px;
  position: relative;
  width: fill;
  overflow: hidden;
  height:60vw;
  min-height: 300px;
  max-height: 70vh;
  @include breakpoint-min($tablet){
    height:60vw;
    min-height: 500px;
    max-height: 70vh;
  }
  .foreground{
    h1,h2{
      font-family: 'NotoSerif';
      font-style: normal;
      font-weight: normal;
    }
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    position: absolute;
    width: fill;
    height: fill;
    inset: 0;
  }

}
.hero.home{
  @include theme('color',$text1);
  background: linear-gradient(180deg, rgba(78, 41, 151, 0.7) 19.45%,
                                            rgba(96, 60, 147, 0.6) 50%, 
                                            rgba(255, 163, 75, 0.5) 77.05%, 
                                            rgba(255, 163, 75, .4) 99.48%),
              url('../media/doctor-patient-interpreter Image.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .foreground{
    margin: 0 auto;
    // max-width: 47%;
    // transform: translateY(20px);
    padding:15px;
    div{
      display: grid;
      place-items: center;
      h1{
        text-transform: capitalize;
      }
      h1,h2,div{
        margin-bottom: 10px;
      }
      .button-container{
        display:flex;
        flex-direction: row;
        & :first-child{
          margin-right:1em;
        }
        *{
          text-decoration: none;
        }
      }
    }
  }
}
.mini-about{
  @include theme('background-color',$color1);
  @include theme('color',$text3);
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  @include breakpoint-max($tablet){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  padding: 20px;
  column-gap: 20px;
  .content{
    margin:auto;
    font-size: .85em;
    p{
      margin-bottom: .5em;
    }
    &:last-child{
      margin: 0;
    }
  }
  .profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    .img-container{
      margin: 0 auto;
      border-radius: 10000px;
      width: 10em;
      height:10em;    
      // margin-right: 10px;
      // max-width: 200px;
      // max-height: 200px;
      position: relative;
      overflow: hidden;
      place-items: center;
      img{
        display: inline;
        width: 100%;
        // width: auto;
      }
    }
    .info{
      display: flex;
      flex-direction: column;
      margin: auto 0;
      *{
        margin-bottom:.3em;
      }
      a{
        margin:0;
        margin-top: 1em;
        text-decoration: none;
        color:inherit;
        width: fit-content;
        // &::after{
        //   content:' ->';
        // }
      }
    }
  }
}
.why-choose-certified{
  .column-layout{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: 1fr;
    @include breakpoint-max($tablet){
      display: flex;
      flex: column;
      flex-direction: column-reverse;
    }
    .box{
      display: grid;
      text-align: left;
      p{
        margin-bottom: .5em;
      }
      h3{
        @include theme('color',$color1);
        margin: .5em 0;
      }
    }
  }
}
.lets-talk{
  h1{
    margin-bottom:.6em;
  }
}
.footer{
  width:fill;
  padding:2em;
  @include theme('background-color',$color1);
  color:white;
  &,div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .logo{
      width:20px; 
      height:20px;
      margin-right:.3em; 
    }
    .icons{
      *{
        margin-right: .2rem;
        *>*{fill:white;}
      }
    }
  }
  font-size: small;
}