@import 'params/theme_colors';
@import 'params/breakpoints';
.background{
    @include theme('background-color',$background3);
    width: 100vw;
    height: 100vh;  
    max-height: 100vh;
    display: flex;
    flex-direction: column;
} 
nav{
    @include theme('background-color',$background1);
    .userName{
        padding:.5rem;
    }
}
.content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: fill;  
    .search{
        @include theme('background-color',$background1);
        overflow: auto;
        border-right: solid 5px;
        @include theme('border-color',$color1);  
        .searchBar{
            display: flex;
            flex-direction: row;
            
        }     
        .list-container{
            padding-top:10px;
            ul{
                padding:0;
                margin:0;
                margin-left:3px;
                list-style-type: none;
                li{
                    margin: 2px;
                    button{
                        width:fill;
                        height:fill;
                    }
                }
            }
        } 
    }
    .doc{
        // position: relative;
        @include theme('background-color',$background1);
        .print-btn{
            position: absolute;
            right:3rem;
            z-index: +10;
            @media print {
                display: none;
            }
        }
        // padding-left: 2px;
    }
}