@import 'params/theme_colors';
@import 'params/breakpoints';
.form-page-body{
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1000;
    height: 100vh;
    width: 100vw;
} 
.ReactModalPortal{
    width:100vw;
    height:100vh;
    .overlay{
        overflow-y: auto;
        position: fixed;
        inset: 0px;
        @include theme('background-color',$background3);
        @include breakpoint($tablet){
            display: grid;
            place-items: center;
        }
        .modal{
            h2 {
                font-size: 17px;
            }
            @include theme('background-color',$text1);
            border-radius: 30px;
            padding:25px 0px;
            z-index: -1;
            // position: absolute;
            // overflow-y: auto;
            overflow-x: hidden;
            // min-height: 40vh;
            min-width: 60vw;
            @include theme('background-color',$background1);
            &:focus-visible{
                outline: none;
            }
            .form-modal{
                // display: grid;
                align-content: space-between;
                height: stretch;
                padding:0px 20px;
                // overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 5px;   
                    margin-right: 2px;
                }
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    border-radius:5px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius:5px;
                    background-color: darkgrey;
                }
                hr{
                    @include theme('color',$color1);
                    border-style: solid;
                    border-width: 2px;
                }
                .modal-title{
                    position: sticky;
                    top:0px;
                    padding-top:5px;
                    padding-bottom: 10px;
                    @include theme('background-color',$background1);
                    .RSPBprogressBar{
                        margin: 10px;
                        @include theme('background-color',$background2);
                        height: 5px;
                        @include breakpoint($tablet){
                            height: 10px;
                        }
                        .RSPBstep{
                            .step-container{
                                width:20px;
                                height:20px;
                                @include breakpoint($tablet){
                                    width:40px;
                                    height:40px;
                                }
                                svg{
                                    height: inherit;
                                    width: inherit;
                                    position: absolute;
                                    top: 0; 
                                    left: 0;
                                    display: grid;
                                    place-items: center;
                                    ellipse{
                                        @include theme('fill',$background1);
                                        cx:10px;
                                        cy:10px;
                                        rx:7px;
                                        ry:7px;
                                        @include breakpoint($tablet){
                                            cx:20px;
                                            cy:20px;
                                            rx:15px;
                                            ry:15px;
                                        }
                                        // @include theme('background',$background1);
                                        stroke-width: 5px;
                                        
                                    }
                                    .accomplished{
                                        @include theme('stroke',$color1);
                                    }
                                    .todo{
                                        @include theme('stroke',$background2);
                                    }
                                }
                                .label{
                                    display: none;
                                }
                                @include breakpoint($tablet){
                                    .label{
                                        @include theme('color',$text1);
                                        position:absolute;
                                        display: grid;
                                        align-items: center;
                                        width: inherit;
                                        height: inherit;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .RSPBprogression{
                            @include theme('background-color',$color1);
                        }
                    }
                }
                .form-bottom{ 
                    // position: absolute;
                    // bottom:20px;  
                    padding-top: 20px; 
                    display: grid;
                    width:stretch;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    align-content:space-between ;
                    // margin-right: 40px;
                }
                .form-content{
                    // display: inline-flex;
                    display: flex;
                    flex-direction: row;
                    overflow-x: hidden;
                    .form-section{
                        display: flex;
                        flex-direction:column;
                        width:stretch;
                        max-width: 100vw;
                        .section-title{
                            width: inherit;
                        }   
                        .section-inputs{ 
                            flex-direction: row;
                            display: flex;
                            column-gap: 20px;
                            flex-wrap: wrap;
                            @include bp($tablet){
                                flex-wrap: nowrap;
                            }
                        }
                    }
                    .active{
                        width:stretch;
                        transform: translateX(0%);
                        left:0;
                        opacity: 1;
                        transition: all .2s ease-in-out;
                    }
                    .prev{
                        width:stretch;
                        position: absolute;
                        // left:-1000px;
                        transform: translateX(-100%);
                        opacity: 0;
                        transition: all .2s ease-in-out;
                        *{
                            transition-delay: .25s;
                            display: none;
                        }
                    }
                    .next{
                        width:stretch;
                        position: absolute;
                        // left:1000px;
                        transform: translateX(100%);
                        opacity: 0;
                        transition: all .2s ease-in-out;
                        *{
                            transition-delay: .25s;
                            display: none;
                        }
                    }
                    .ghost{
                        display: none;
                    }
                    @keyframes slideOutLeft {
                        100%{
                            transform: translateX(-1000%);
                        }
                    }
                }
            }
        }
    }
}
